name: Deployment
on:
    push:
        branches:
            - main
            - dev
env: 
  MONGODB_DB_NAME: gha-demo
jobs: 
    test: 
        env:
          MONGODB_CLUSTER_ADDRESS: cluster0.lgvxwop.mongodb.net
          MONGODB_USERNAME: ${ { secrets.MONGODB_USERNAME } }
          MONGODB_PASSWORD: ${ { secrets.MONGODB_PASSWORD } }
          PORT: 8080
        runs-on: ubuntu-latest
        steps: 
            - name: Get code
              uses: actions/checkout@v3
            - name: Cache dependencies
              uses: actions/cache@v4
              with:
                path: ~/.npm
                key: npm-deps-${{ hashFiles('**/package-lock.json')}}
            - name: Install dependencies
              run: npm ci
            - name: Run server
              run: |
                nohup npm start > server.log 2>&1 &
                sleep 5
            - name: Output information
              run: |
                echo "Username: ${{ env.MONGODB_USERNAME }}"


    deploy:
           needs: test
           runs-on: ubuntu-latest
           steps:
            - name: Output information
              run: |
                echo "Username: ${{ env.MONGODB_USERNAME }}"
                echo "MongoDB NAME: ${{ env.MONGODB_DB_NAME }}"